/* CSS file */

.global {
	fontSize : 15;
	backgroundColor : #cecece
}

Button
{
	theme-color: #474747;
	up-skin: ClassReference('assets.skins.flexraysButtonSkin');
	over-skin: ClassReference('assets.skins.flexraysButtonSkin');
	down-skin: ClassReference('assets.skins.flexraysButtonSkin');
	disabled-skin: ClassReference('assets.skins.flexraysButtonSkin');
}
/****导航按钮容器属性******************************************************/
ToggleButtonBar {
	buttonStyleName : "myToggleButtonStyle";
	selectedButtonTextStyleName : "myToggleButtonStyle";
	firstButtonStyleName : "myToggleButtonStyle";
	lastButtonStyleName : "myToggleButtonStyle";
}

.myToggleButtonStyle {
	cornerRadius : 0;
	theme-color: #474747;
	up-skin: ClassReference('assets.skins.flexraysButtonSkin');
	over-skin: ClassReference('assets.skins.flexraysButtonSkin');
	down-skin: ClassReference('assets.skins.flexraysButtonSkin');
	disabled-skin: ClassReference('assets.skins.flexraysButtonSkin');
}

.navButtonBox {
	paddingLeft : 5 ;
	paddingRight : 5 ;
}
/**************************************************************************/

/****Title Chart***********************************************************/
.titleChartColor {
	paddingLeft : -1;
	
}

/**************************************************************************/
